<div class="row next-prev-navigator">
{{ $currentPage := . }}
{{ range (where site.RegularPages.ByDate "Type" "in" site.Params.mainSections )}}
  {{ if eq .RelPermalink  $currentPage.RelPermalink }}
    {{ if .Next }}
      {{ if (in site.Params.mainSections .Next.Type) }}
      {{ partial "sharelinks.html" . }}
      <div class="col-md-6 previous-article">
        <a href="{{.Next.RelPermalink}}" class="btn btn-outline-info">
          <span><i class="fas fa-chevron-circle-left"></i> Prev</span>
          <br />
          <span>{{ .Next.Title }}</span>
        </a>
      </div>
      {{ end }}
    {{ end }}
    {{ if .Prev }}
      {{ if (in site.Params.mainSections .Prev.Type)  }}
        {{ $columnWidth:="col-md-12" }}
        {{ if .Next }}
          {{ if (in site.Params.mainSections .Next.Type) }}
              {{ $columnWidth = "col-md-6" }}
          {{ end }}
        {{ end}}
        <div class="{{ $columnWidth }} next-article">
          <a href="{{ .Prev.RelPermalink }}" class="btn btn-outline-info">
            <span>Next <i class="fas fa-chevron-circle-right"></i></span>
            <br />
            <span>{{ .Prev.Title }}</span>
          </a>
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
</div>
